*.bak
*.dwl
*.dwl2
*.tmp
*.log
cd/~$1.1-Te-dhenat-kadastrale-zyrtare-ne-forme-digjitale-229-4.xlsx
cd/~$7---Koordinatat-e-pikave-për-parcelë.xlsx
cd/~$--Mbështjellësi-i-lëndës.docx
cd/~$--Raporti-Teknik.doc
cd/~$-Korigjiimi-i-sipërfaqes.doc
cd/~$Mbështjellësi-i-lëndës-525-0-Salih.docx
cd/~$Korigjiimi-i-sipërfaqes-525-0-Salih.doc
cd/~$Raporti-Teknik-525-0-Salih.doc
